{# OcdCorporateBundle/Resources/views/Home/index.html.twig #}

{% block ocd_cookie_message %}
    <div id="cookie-bar-info">
        <p>
            {{ 'cookie.message'|trans({}, 'OcdCorporateBundle') }}
            <a href="#" id="cookie-bar-info-close">
                {{ 'cookie.message.accept'|trans({}, 'OcdCorporateBundle') }}
            </a>
        </p>
    </div>
{% endblock %}
