{# OcdCorporateBundle/Resources/views/Home/index.html.twig #}

{% extends "OcdCorporateBundle::html5.html.twig" %}

{% block head_title %}Open Code Development{% endblock %}

{% block body_container_header %}
	<h2>Conseil, Stratégie, Dévelopment en communication Web</h2>
{% endblock %}

{% block body_container_main %}
	<h1>Agence de communication pour TPE</h1>
    <p>Bientôt disponible !</p>

{% endblock %}


{% block body_container_footer %}
    o-c-d copyright 2015
{% endblock %}

